@model Cookbook.Features.Search.SearchFormModel

@if (string.IsNullOrWhiteSpace(Model.Sorting))
{
    <div>
        Hello from partialView Empty sorting
    </div>
}
<div>
    Hello from partialView
</div>

@*@Html.EditorFor(m => m.SearchTerm)
    @Html.EditorFor(m => m.Sorting)*@
